/* 
    Document   : balticode_admintools.css
    Created on : 2.05.2012, 12:58:01
    Author     : matishalmann
    Description:
        Purpose of the stylesheet follows.
*/

#control_overlay {  
    background:none repeat scroll 0 0 #000000;
    opacity: 0.5;
    filter: alpha(opacity=50);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

.modal {  
    background-color:#fff;  
    padding:10px;  
    border:1px solid #333;  
} 

.tooltip {  
    border:1px solid #000;  
    background-color:#fff;  
    height:25px;  
    width:200px;  
    font-family:"Lucida Grande",Verdana;  
    font-size:10px;  
    color:#333;  
} 

.simple_window {  
    width:250px;  
    height:50px;  
    border:1px solid #000;  
    background-color:#fff;  
    padding:10px;  
    text-align:left;  
    font-family:"Lucida Grande",Verdana;  
    font-size:12px;  
    color:#333;  
} 

.balticode_window {  
    background-image:url("images/bg_window_mask.png");  
    background-position:top left;  
    -moz-border-radius: 10px;  
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding:10px;  
    font-family:"Lucida Grande",Verdana;  
    font-size:13px;  
    color:#000;  
    text-align:center;  
    min-width:550px;  
    min-height:229px;  
    width: 768px;
}


.balticode_window .button_box {
    border: 1px solid #000;
    background: #fff;
    height: 100px;
    width: 300px;
    padding: 5px;

}

.balticode_window_bg {
    background-image:url("images/box_bg.gif");  
}

.balticode_window .window_contents {  
    margin-top:10px;  
    width:100%;  
    height:100%;      
}

.balticode_window .window_contents a {  
    display: inline !important;
}
.balticode_window .balticode_arrow {  
    height: 13px;
    width: 13px;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    top: 100px;
}
.balticode_window #balticode_previous {  
    float: left;
    left: 0px;
    background: url("images/pager_arrow_left.gif") no-repeat;
}
.balticode_window #balticode_next {  
    float: right;
    right: 0px;
    background: url("images/pager_arrow_right.gif") no-repeat;
}

.balticode_window .window_header {  
    text-align:center;  
} 

.balticode_window .window_title {  
    margin-top:-7px;  
    margin-bottom:7px;  
    font-size:13px;  
    font-weight: bold;
} 

.balticode_window .window_close {  
    display:block;  
    position:absolute;  
    top:4px;  
    right:5px;  
    height:16px;  
    width:16px;  
    background-image: url("images/window_close.png");  
    cursor:pointer;  
    background-repeat: no-repeat;
}
.balticode_window .window_checkbox {
    display:block;  
    position:absolute;  
    top:2px;  
    right:35px;  
    height:16px;  
    width:16px;  
}

.balticode_window .window_contents .products_grid tr {
    width: 764px;
}
.balticode_window .window_contents .products_grid {
    width: 768px;
}
.balticode_window .window_contents .products_grid th {
    max-width: 190px;
}
.balticode_window .window_contents .products_grid td {
    max-width: 190px;
}

.balticode_window_bg .window_close {  
    background-image:url("images/icon_btn_delete.gif");
}

.balticode_window .balticode_orderview_actionbutton {
    float: left;
}

.balticode_window .balticode_buttons {
    max-width: 455px;
    display: table;
    float: left;
}

.balticode_window .balticode_commercial {
    color: #2d444f;
}
.balticode_window .balticode_commercial a {
    text-decoration: none;
    color: #ea7601 !important;
}
.balticode_window .balticode_commercial a:hover {
    text-decoration: underline !important;
}

.balticode_window .order-totals table td {
    padding: 0 !important;
}
.balticode_window .order-totals table td.label {
    padding-right: 10px !important;
}
